body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0e0123;
}

.text {
  color: #f9f9f9;
  font-size: .9em;
  font-weight: bold;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f9f9f9;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f9f9f9;
  
}

.app-container {
  justify-content: center;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.ship-counters {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

button.ship {
  background-color: #e8dfdd;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.ship.selected {
  background-color: green;
}

button.ship.placed {
  background-color: red;
}

button.ship:disabled {
  background-color: grey;
}

p {
  color: rgb(1, 1, 1);
  font-size: 20px;
  font-weight: bold;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

button.cell {
  width: 2em;
  height: 2em;
  border: 0.1em solid black;
  background-color: lightblue;
  box-sizing: border-box;
  cursor: pointer;
}

button.cell:hover {
  opacity: 0.7;
}

.cell:disabled {
  cursor: default;
}

.cell:disabled:hover {
  opacity: 1;
}

button.cell.ship {
  background-color: darkgreen;
  cursor: default;
}

button.cell.hit {
  background-color: #a12019;
}

button.cell.miss {
  background-color: #808080;
}

.button-group {
  display: flex;
  margin-bottom: 20px;
}

.button-group button {
  margin-right: 10px;
}

.opacity {
  opacity: 0.7;
}

.sunk {
  text-decoration: line-through;
}

.boards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}